body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}


/*----------------------------------------menuhamburguer------------------------*/

.menupq{
  background:  #CCCCCC;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: fixed;
  top: 10.5%;
  right: 10px;
  cursor: pointer;
  box-shadow: 0 0 0 0  #CCCCCC, 0 0 0 0  #CCCCCC;
  transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuq{
  width: 45px;
  height: 45px;
  position: fixed;
  top: 10.5%;
  right: 10px;
  cursor: pointer;
  box-shadow: 0 0 0 0  #CCCCCC, 0 0 0 0  #CCCCCC;
  transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.menupq:hover{
  box-shadow: 0 0 0 8px  #CCCCCC, 0 0 0 8px  #CCCCCC;
}

/*animação do menu*/ 
input:checked ~ label .menuq {
  box-shadow: -30px 220px 0 160px #CCCCCC, 0 0 0 0 #CCCCCC;
}

/* só aparecer o menu ao clicar*/
input:checked ~ #menupq {
  opacity: 1;
}

/* animação e estilo do menu*/
#menupq {
  position: fixed;
  top: 40%;
  left: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  opacity: 0;
  transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
}

#menupq a {
  color: #ac0000;
  display: block;
  right: -100px;
  text-align: right;
  margin-bottom: 1em;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding-top: 20px;
}
.linha {
  position: relative;
  display: block;
  background: #808080;
  width: 200px;
  height: 2px;
  transition: 0.5s ease-in-out;
}



.hamburguer {
  position: relative;
  display: block;
  background: black;
  width: 22px;
  height: 2px;
  transition: 0.5s ease-in-out;
  top: 22px;
  left: 11px;
}

.hamburguer:before,
.hamburguer:after {
  background: black;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -8px;
}

.hamburguer:after {
  bottom: -8px;
}

input {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}
/*----------------------------------------menuhamburguer---------------------------------*/

/*-----------------------------------------------------menu---------------------------------------------*/
.menu{
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.menu ul {
    list-style:none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
}
.menu ul li { display: inline; }
.menu ul li a {
    color: black;
    padding: 15px 5%;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
.menu ul li a:hover{color: #ac0000;}

.inicio{
    padding: 4.2% 4% 0 5%;
    
}
.logoIndex{
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    width: 90px;
    padding: 10px;
    border-radius: 0 0 25% 25%;
    position: fixed;
    z-index: 9999;
}
/*---------------------------------------------------------------menu---------------------------------------------*/


/*--------------------------------------------------------------index---------------------------------------------*/
h1{
    font-size: 53px;
    color: white;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.6em;
    text-transform: uppercase;
}

#restaurante{
  text-align: center;
  padding-left: 27.5%;
  height: 370px;
}
/*----------------galeria-----------------------*/
.galeria {
    width: 60%;
    position: relative;
  }
    @media (min-width: 480px) {
        .gallery-container {
          margin: auto;
        }
    }

  .mySlides {
    display: none;
  }

  /*----------------botao-----------------------*/
  #botao{
    padding-top: 30%;
    position: absolute;
    width: 100%;
  }
  .prev, .next {
    cursor: pointer;
    position: relative;
    padding: 17px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    background-color: rgba(0,0,0,0.3);
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .prev{
    right: 40%;
  }
  .next{
    left: 40%;
  }
 /*----------------botao-----------------------*/
  
 
 .imgslide {
    width: 100%;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 5px 12px;
    position: absolute;
    top: 0;
    background-color: black;
  }
  @media (max-width: 768px) {
    .numbertext {
      top: 15px;
    }
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  @-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }
/*----------------galeria-----------------------*/

/*----------------sobre-----------------------*/
#sobre{
  padding-left: 25%;
  padding-right: 27%;
  padding-bottom: 1%;
}
#sobre p{
  color: white;
  text-align: justify;
  font-weight: normal;
  text-indent: 1.5em;
  line-height: 1.6em;
}
#sobre p a{
  text-decoration: none;
  color: white;
}
#sobre p a:hover {
  color:  #ac0000;
}
/*----------------sobre-----------------------*/

/*----------------maps-----------------------*/
.mapsout{
  border: none;
  padding: 0 32% 0 32%;
}
.mapsin{
  border: none;
  border-radius: 3%;
  width: 450px;
  height: 300px;
}
/*----------------maps-----------------------*/
/*-----------------------------------------------------------index---------------------------------------------*/

/*----------------------------------------------------------------------cardapio---------------------------------------------*/
.espaco{
  height: 10px;
}

.titulocardapio h1{
  font-size: 30px;
  color: #ac0000;
  text-align: left;
  font-weight: normal;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}


/*----------------entradas-----------------------*/
#entradas{
  padding-left: 20%;
}
#harumaki, #missoshiru, #shimeji, #sunomono{
  width: 70%;
  padding: 2% 0 0 2%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
#harumaki:hover, #missoshiru:hover, #shimeji:hover, #sunomono:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.textoEntrada{
  width: 60%;
  padding-left: 20px;
}
.textoEntrada h2{
  color: black;
  font-size: 19px;
  text-transform: uppercase;
}
.textoEntrada h2:hover{
  color: #ac0000;
}
.textoEntrada p{
  color: black;
  text-align: justify;
  font-weight: normal;
  font-size: 15px;
  text-indent: 1.5em;
  line-height: 1.6em;
}
#harumaki div, #missoshiru div, #shimeji div, #sunomono div{
  display: inline-block;
}
/*----------------entradas-----------------------*/


/*----------------sushi-----------------------*/

#sushi{
  padding-left: 20%;
}
#hossomaki, #uramaki, #niguiri, #gunkan, #sashimi, #hot{
  width: 70%;
  padding: 2% 0 0 2%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
#hossomaki:hover, #uramaki:hover, #niguiri:hover, #gunkan:hover, #sashimi:hover, #hot:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.textoSushi{
  width: 60%;
  padding-left: 20px;
}
.textoSushi h2{
  color: black;
  font-size: 19px;
  text-transform: uppercase;
}
.textoSushi h2:hover{
  color: #ac0000;
}
.textoSushi p{
  color: black;
  text-align: justify;
  font-weight: normal;
  font-size: 15px;
  text-indent: 1.5em;
  line-height: 1.6em;
}
#hossomaki div, #uramaki div, #niguiri div, #gunkan div, #sashimi div, #hot div{
  display: inline-block;
}
/*----------------sushi-----------------------*/

/*----------------sobremesas-----------------------*/

#sobremesas{
  padding-left: 20%;
}
#parfait, #castella, #furutsuSando, #dorayaki{
  width: 70%;
  padding: 2% 0 0 2%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
#parfait:hover, #castella:hover, #furutsuSando:hover, #dorayaki:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.textoSobremesas{
  width: 60%;
  padding-left: 20px;
}
.textoSobremesas h2{
  color: black;
  font-size: 19px;
  text-transform: uppercase;
}
.textoSobremesas h2:hover{
  color: #ac0000;
}
.textoSobremesas p{
  color: black;
  text-align: justify;
  font-weight: normal;
  font-size: 15px;
  text-indent: 1.5em;
  line-height: 1.6em;
}
#parfait div, #castella div, #furutsuSando div, #dorayaki div{
  display: inline-block;
}
/*----------------sobremesas-----------------------*/
/*-------------------------------------------------------------------cardapio---------------------------------------------*/

/*-------------------------------------------------------------------reserva---------------------------------------------*/

form,select,textarea{margin:0; padding:0; color: rgba(0, 0, 0, 0.3);}

div.box {
    margin:0 auto;
    width:600px;
    background:#222222;
    position:relative;
    border:1px solid #262626;
    margin-bottom: 20px;
}
 
div.box h1 { 
    color:rgba(255, 255, 255, 0.8);
    font-size:15px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712; 
}
 
div.box label {
    width:100%;
    display: block;
    background:#1C1C1C;
    border-top:1px solid #262626;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;
}
 
div.box label span {
    display: block;
    color:#bbbbbb;
    font-size:12px;
    float:left;
    width:120px;
    text-align:right;
    padding:10px 20px 0 0;
}
 
div.box .nome, div.box .telefone, div.box .whatsapp, div.box .email, div.box .dia, div.box .hora, div.box .quantidade{
    padding:7px 20px;
    width:380px;
    background:rgba(255, 255, 255, 0.8);
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
    height:20px;
}

div.box .observacao{
  padding:7px 20px;
  width:380px;
  background:rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px double #171717;
  border-top: 1px double #171717;
  border-left:1px double #333333;
  border-right:1px double #333333;
  height:120px;
}

button {
  margin-left: 0;
  width: 600px;
  padding:7px 20px;
  color: black;
  border-bottom: 1px double #171717;
  border-top: 1px double #171717;
  border-left:1px double #333333;
  border-right:1px double #333333;
  cursor: pointer;
  box-shadow: 0 0 0 0  #171717, 0 0 0 0  #171717;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: #ac0000;

}
/*-------------------------------------------------------------------reserva---------------------------------------------*/


/*-------------------------------------------------------------------contato---------------------------------------------*/
.iniciocontato{
  padding: 4.15% 4% 0 5%;
  
}
#textoContato li{
  padding:5px;
  margin:0px;
  font-size: 20px;
  display: block;
  padding-left: 20%;
  line-height: 30px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#linksImg ul{
  padding-left: 20%;
  padding-top: 20px;
}
#linksImg ul li { 
  display: inline;
  display: inline-block;
  padding-left: 30px;
  
}
/*-------------------------------------------------------------------contato---------------------------------------------*/


/*------------------------------------------------------------------rodape---------------------------------------------*/
.rodape ul {
    margin-bottom: 0;
    list-style:none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
}
.rodape ul li { 
    display: inline;  
    padding: 15px;
}
.rodape ul li a{ 
    text-decoration: none;
    padding-right: 10px;
}

.facebookrodape{
    padding-left: 58%;
}

/*--------------------botaotop-------------------------*/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border-radius: 65px;
}
.btn::after {
  content: "▲";
  font-size: 32px;
  font-weight: bold;
  color: black;
  transition: margin-top 250ms;
}
.btn:hover::after {
  margin-top:-8px;
}

/*--------------------botaotop-------------------------*/
/*------------------------------------------------------------------------rodape---------------------------------------------*/